<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>HOC NGAY</button>
        </div>
        <div class="col-lg-9">
            <h2> {{blog.name}} </h2>
            <iframe width="734" height="413" src="https://www.youtube.com/embed/{{blog.videoId}}" title="VIETNAM | My Home - Masew, MyoMouse, Nguyen Loi" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p> {{blog.description}} </p>
        </div>
    </div>
</div>